<h3>View employee</h3>
<table border="0" width=500 >
  <tr height=35>
    <th>ID</th>
    <th>EID</th>
    <th>Name</th>
    <th>Dept</th>
    <th>Operations<button {{action "delEmpRec" }}>Delete bulk</button>{{firstname}}</th>
  </tr>
{{#each model as |viewrec|}}
<tr height=20>
  <td>{{viewrec.id}}</td>
  <td>{{viewrec.eid}}</td> <td> {{viewrec.ename}} </td> <td>{{viewrec.edept}}</td>
  <td><button {{action 'centerMap'}}> Edit</button>
    {{#modal-dial title=(concat "EMP ID:" viewrec.id)}}
      This is the content of my modal #1

    {{/modal-dial}}

  </td>
</tr>
{{/each}}
</table>
