<h3>View employee</h3>
<table border="0" width=500 >
  <tr height=35>
    <th>ID</th>
    <th>EID</th>
    <th>Name</th>
    <th>Dept</th>
    <th>Operations<button {{action "delChecked" }}>Delete bulk</button>{{firstname}}</th>
  </tr>
{{#each model as |viewrec|}}
<tr height=20>
  <td>{{viewrec.id}}</td>
  <td>{{viewrec.eid}}</td> <td> {{viewrec.ename}} </td> <td>{{viewrec.edept}}</td>
  <td><button {{action 'showModal' viewrec.id viewrec.eid viewrec.ename viewrec.edept}}> Edit</button>
    <input type="checkbox" onchange={{action 'updateChecked' viewrec.id}}>
  </td>
</tr>
{{/each}}
</table>
{{#modal-dial title=(concat "EMP ID:" currentId) showModal1=isVisible closeDial="onModalClose" }}
  <h3>Edit employee</h3>
  <br><form class="form-horizontal" >
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Enter employee ID</label>
      <div class="col-md-5">
        {{input value=eId class="form-control" placeholder=(concat "" currentEid)}}
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Enter employee name</label>
      <div class="col-md-5">
        {{input value=eName class="form-control" placeholder=(concat "" currentEname)}}
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Enter employee dept</label>
      <div class="col-md-5">
        {{input value=eDept class="form-control" placeholder=(concat "" currentEdept)}}
      </div>
    </div>
    <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button class="btn btn-primary" data-dismiss="modal" >Close</button>
       <button class="btn btn-primary" {{action 'editEmpRec' currentId}} >Add employee</button>

     </div>
   </div>
  </form>
{{/modal-dial}}
