{{#modal-dial title='Settings' close='removeModal'}}
        <form {{action 'ok' on='submit' target=view}}>
          <div class="form-group">
            <label>Name {{viewrec.id}} {{model.editId}} {{editId}} </label>
            {{input class="form-control" value=name}}
          </div>
        </form>
      {{/modal-dial}}
